<h1>Job Tracker</h1>

<h2>Jobs by Interest</h2>

<% @counted_interest.each do |level_of_interest, count| %>
  <h3>Level of Interest: <%= level_of_interest %></h3>
  <ul class="level-of-interest-count-<%= level_of_interest %>">
    <li>Jobs Available: <%= count %></li>
  </ul>
<% end %>

<h2>Top Companies by Interest</h2>

<% @top_three.each do |name, average| %>
  <ul>
    <li> <%= name %> </li>
    <li> <%= average %> </li>
  </ul>
<% end %>
