<h1>Job Categories</h1>

<%= link_to "Create New Category", new_category_path, class: "new-category" %>
<div>
  <% @categories.each do |category| %>
    <h3><%= category.title %></h3>
      <form action="/categories/<%= category.id %>/edit" method='GET'>
        <input name='edit_button' type='submit' value='Edit'/>
      </form>
      <form id='<%= category.id %>'action='/categories/<%= category.id %>' method='post'>
        <input type="hidden" name="_method" value="DELETE">
        <input name='delete_button' type='submit' value='Delete'/>
      </form>
  <% end %>
</div>
